language: ruby
rvm:
 - 1.8.7
 - 2.0.0

script: "bundle exec rake spec"

branches:
  only:
      - master
      - /^issues\/.*$/
      - dev

notifications:
  email:
    - arusso@berkeley.edu

env:
  - PUPPET_VERSION="~> 2.7.0"
  - PUPPET_VERSION="~> 3.8.0"

matrix:
  exclude:
    - rvm: 2.0.0
      env: PUPPET_VERSION="~> 2.7.0"
  include:
    - rvm: 1.8.7
      env:
        - PUPPET_VERSION="~> 3.8.0"
        - PARSER="future"
    - rvm: 2.0.0
      env:
        - PUPPET_VERSION="~> 3.8.0"
        - PARSER="future"

